<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="//db.onlinewebfonts.com/c/1fed4454352f201d52b65ca5480afb2d?family=Playlist" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="{% static 'css/about.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "{% static 'css/bootstrap.min.css' %}" />
        <link rel="apple-touch-icon" href="{% static 'icon.png' %}" sizes="180x180">
        <link rel="icon" href="{% static 'icon.png' %}" sizes="32x32" type="image/png">
        <link rel="icon" href="{% static 'icon.png' %}" sizes="16x16" type="image/png">
        <link rel="mask-icon" href="{% static 'icon.png' %}" color="#563d7c">
        <link rel = "stylesheet" href = "{% static 'css/styles.css' %}" />
        <title>Student Study Portal</title>
    </head>
    <style>
        body{
    display: flex;
    background-image: url("{% static 'bg4.jpg' %}");
    background-repeat: no-repeat;
    background-size:1800px 1500px;
    position:relative;
}
    </style>
    <body>
        <div class="top-nav">
            <div class="name">
                Study Portal
            </div>
            <div class="nav-bar ">
                <a class="custom-link" href="{% url 'home' %}">Home
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                
                <a class="custom-link" href="{% url 'account_login' %}">Login
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <a class="custom-link" href="{% url 'account_signup' %}">Sign Up
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
        <div class="short-content">
            <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
            
        </div>
        <div class="container">
            <div class="mycard">
                <div class="cimg">
                    <img src="{% static 'notes.jfif' %}" height="310px" width="310px" >
                </div>
                <div class="cdetail">
                    <h3>Notes</h3>
                    <p>
                        The notes is one of the special feature in the Study Portal. Allowing users
                        to create notes and also have the backup sent to the registered email if deleted accidentally. 
                    </p>
                </div>
            </div>
            <div class="mycard">
                <div class="cimg">
                    <img src="{% static 'todo.png' %}" height="310px" width="310px">
                </div>
                <div class="cdetail">
                    <h3>ToDo List</h3>
                    <p>
                        Todo list is a great feature where the user can the necessary work to be done and mark it done (strike-through) or can mark
                        it important according to the task. 
                    </p>
                </div>
            </div>
            <div class="mycard">
                <div class="cimg">
                    <img src="{% static 'youtube.jfif' %}" height="310px" width="310px">
                </div>
                <div class="cdetail">
                    <h3>Videos</h3>
                    <p>
                        Searching for videos right whent the browser is overloaded with tabs is just crazy. That's what video feature comes in. 
                        It will help to search for vidoes and hence will ease the work.
                    </p>
                </div>
            </div>

            <div class="mycard">
                <div class="cimg">
                    <img src="{% static 'books.jpg' %}" height="310px" width="310px">
                </div>
                <div class="cdetail">
                    <h3>The Library</h3>
                    <p>
                        The exact scenario where broswer is full of tabs and then you remember to search for book. That's where this feature helps in getting you the right book ASAP.
                    </p>
                </div>
            </div>



            <footer class="footer-distributed">
 
                <div class="footer-left">
                
                <h3>The Student Portal</h3>
                
                <p class="footer-links">
                <a href="#">Home</a>
                ·
                <a href="#">Login</a>
                ·
                <a href="#">Sign Up</a>
                
                </p>
                
                <p class="footer-company-name">The Student Portal &copy; 2022</p>
                </div>
                
                <div class="footer-center">
                
                <div>
                    &nbsp; 
                    &nbsp;
                    &nbsp;
                    &nbsp;
                <p><span>Team Members</span>Kalyani Patra</p>
                </div>
                
                <div>
                    &nbsp; 
                    &nbsp;
                    &nbsp;
                    &nbsp;
                
                <p>Shyam Sundhar</p>
                </div>
                <div>
                    &nbsp; 
                    &nbsp;
                    &nbsp;
                    &nbsp;
                </div>
                <div>
                    &nbsp; 
                    &nbsp;
                    &nbsp;
                    &nbsp;
                </div>
                <div>
                    &nbsp; 
                    &nbsp;
                    &nbsp;
                    &nbsp;
                
                <p>Team Name - ERROR 404 </p>
                </div>
              
                <div>
                    &nbsp; 
                    &nbsp;
                    &nbsp;
                    &nbsp;
                
                <p>Team Number 91 </p>
                </div>
                
                </div>
                
                <div class="footer-right">
                
                <p class="footer-company-about">
                <span>The Student Study Portal</span>
                One stop solution for studnets. Get rid of all the messy and useless tab and open it altogether in 
                just a single site.
                </p>
                
                
                
                </div>
                
            </footer>
           
          

    </body>
</html>