{% extends 'authbase.html' %}
{% block content %}
<div class = "container">
  <h1 class="custom-text">The Study Portal</h1>
      <h5>Portal To Guide You To The Top</h5>
      <div class = "inline block py-2">
        <a href="{% url 'account_login' %}" class="custom-link">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Login
        </a>
    <a href="{% url 'account_signup' %}" class="custom-link ">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Sign Up
    </a>
</div>
  

{% endblock %}