@import url(//db.onlinewebfonts.com/c/1fed4454352f201d52b65ca5480afb2d?family=Playlist);
@font-face {font-family: "Playlist"; src: url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.eot"); src: url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.woff") format("woff"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.svg#Playlist") format("svg"); }

.custom-text {
    margin-top: 0px;
    font-family: 'playlist';
    font-size:80px;
    color:white;
}

h5{
    padding:25px;
    font-family:"noto serif";
    color:white;
}
.container {
    padding: 70px 0;
    text-align: center;
    margin-top: 200px;
}


/*
a{
    
    background:
       linear-gradient(
         to bottom, rgba(255, 255, 255, 0), rgba(250, 250, 250, 0.9)
       );
    
    background-position: 0% 100%;
    background-repeat: repeat-x;
    background-size: 14px 4px;
    color:white;
    text-decoration: none;
    transition: background-size .2s;
}

a:hover {
    background-size: 14px 80px;
}

*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


.custom-link {
    position: relative;
    font-weight: 700;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}
.custom-link:hover{
    background: #e3f4f5;
    color: #050801;
}
.custom-link:nth-child(1){
    filter: hue-rotate(270deg);
}
.custom-link:nth-child(2){
    filter: hue-rotate(110deg);
}
.custom-link span{
    position: absolute;
    display: block;
}
.custom-link span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#f5f6f7);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        top: 100%;
    }
    50%,100%{
        top: 100%;
    }
}
.custom-link span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#feffff);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}

.custom-link span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#ffffff);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
.custom-link span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#fdffff);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

