<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="//db.onlinewebfonts.com/c/1fed4454352f201d52b65ca5480afb2d?family=Playlist" rel="stylesheet" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="login.css">
        <title>Document</title>
    </head>
    <body>
        <section>
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="box">
                <div class="square" style="--i:0;"></div>
                <div class="square" style="--i:1;"></div>
                <div class="square" style="--i:2;"></div>
                <div class="square" style="--i:3;"></div>
                <div class="square" style="--i:4;"></div>
                
                <div class="container">
                    <div class="form">
                        <h2>Login Form</h2>
                        <form class="login_form" action="index.html" method="post" name="form" onsubmit="return validated()">
                            <div class="inputBox font">
                                <input autocomplete="off" type="text" placeholder="Email" name="email">
                            </div>
                            <div id="email_error">Please fill up your Email</div>
                            <div class="inputBox font">
                                <input type="password" placeholder="Password" name="password">
                            </div>
                            <div id="pass_error">Please fill up your Password</div>
                            <div class="inputBox">
                                <input type="submit" value="Login">
                            </div>
                            <p class="forget">Don't have an account ?<a href="./signup.html"> Sign Up</a></p>
                            </div>   
                        </form>
                </div>
            </div>
        </section>
        <script src="login.js"></script>
    </body>
 
</html>

<!-- THE REDIRECTION WORDK BUT U NEED TO CLICK ON THAT URL IN THE SEARCH BAR AGAIN -->